.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
}

.moves-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
}
