:root {
  font-family: 'Press Start 2P', cursive;
}

body {
  margin: 0;
}

button {
  font-family: 'Press Start 2P', cursive;
}

ol {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
